<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Homepage</title>
</head>
<h1>Currency Converter</h1>
<body>
    <form method="POST">
        <b>Convert From:</b><input name="currency_from" label="Convert From">
        <br>
        <b>Convert To:</b><input name="currency_to" label="Convert To">
        <br>
        <b>Amount:</b><input name="ammount" label="Ammount">
        <br>
        <button>Submit</button>
        {% for msg in get_flashed_messages() %}
        <h2>{{msg}}</h2>
        {% endfor %}
    </form>
</body>
</html>